In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df_covid = pd.read_csv('/content/drive/MyDrive/Covid_Data/COVID-19 Nursing Home Data.csv')
df_covid

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,84,85) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        Week Ending  ... Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received an Unspecified COVID-19 Vaccine Booster at Any Time
0          05/24/20  ...                                                NaN
1          05/31/20  ...                                                NaN
2          06/07/20  ...                                                NaN
3          06/14/20  ...                                                NaN
4          06/21/20  ...                                                NaN
...             ...  ...                                                ...
1331181    12/19/21  ...                                                NaN
1331182    12/26/21  ...                                                NaN
1331183    01/02/22  ...                                                NaN
1331184    01/09/22  ...                                                NaN
1331185    01/16/22  ...                                                NaN

[1331186 rows x 234 columns]

In [ ]:
df_covid.shape

(1331186, 234)

In [ ]:
df_covid.dtypes

Week Ending                                                                                                                                                  object
Federal Provider Number                                                                                                                                      object
Provider Name                                                                                                                                                object
Provider Address                                                                                                                                             object
Provider City                                                                                                                                                object
                                                                                                                                                             ...
Percentage of Current Healthcare Personnel with a Completed Vaccination who Received a COVID-19 Vaccine Booster at Any Time                                 float64
Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Pfizer-BioNTech COVID-19 Vaccine Booster at Any Time    float64
Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Moderna COVID-19 Vaccine Booster at Any Time            float64
Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Janssen COVID-19 Vaccine Booster at Any Time            float64
Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received an Unspecified COVID-19 Vaccine Booster at Any Time       float64
Length: 234, dtype: object

In [ ]:
df_covid['Federal Provider Number'].nunique()
# Federal Provider Number is a unique identifier for Nursing Home Facility

15532

--- 1. A table showing the distribution of the number of nursing home
facilities by state and county ---

In [ ]:
df_covid.groupby(['Provider State','County'])['Federal Provider Number'].nunique()

Provider State  County
AK              Anchorage           4
                Bethel              1
                Cordova-Mccarthy    1
                Fairbanks           1
                Juneau              1
                                   ..
WY              Sweetwater          2
                Teton               1
                Uinta               1
                Washakie            1
                Weston              1
Name: Federal Provider Number, Length: 2897, dtype: int64

-- 2. List the top 5 states by the number of nursing home facilities --

In [ ]:
df_covid.groupby(['Provider State'])['Federal Provider Number'].nunique().nlargest(5)

Provider State
TX    1234
CA    1194
OH     968
IL     719
FL     711
Name: Federal Provider Number, dtype: int64

-- 3.Conduct a facility and county level analysis on shortage of aides, clinical staff,
nursing staff and other staff. Define the following metric for this analysis: number
of weeks the shortage was experienced. The metric should be categorized
into 3 categories, 0-10, 11-20 and >20 weeks. --

In [ ]:
df_covid['Week Ending'] = pd.to_datetime(df_covid['Week Ending'])
df_covid.dtypes

Week Ending                                                                                                                                                 datetime64[ns]
Federal Provider Number                                                                                                                                             object
Provider Name                                                                                                                                                       object
Provider Address                                                                                                                                                    object
Provider City                                                                                                                                                       object
                                                                                                                                                                 ...
Percentage of Current Healthcare Personnel with a Completed Vaccination who Received a COVID-19 Vaccine Booster at Any Time                                        float64
Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Pfizer-BioNTech COVID-19 Vaccine Booster at Any Time           float64
Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Moderna COVID-19 Vaccine Booster at Any Time                   float64
Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received a Janssen COVID-19 Vaccine Booster at Any Time                   float64
Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received an Unspecified COVID-19 Vaccine Booster at Any Time              float64
Length: 234, dtype: object

In [ ]:
df_shortage_nursing_b = df_covid['Shortage of Nursing Staff'] == 'Y'
df_shortage_nursing = df_covid[df_shortage_nursing_b]
df_shortage_nursing_bins = df_shortage_nursing.groupby(['Provider Name'])['Week Ending'].count().reset_index(name='Number of Nursing Shortage weeks')
df_shortage_nursing_bins = df_shortage_nursing_bins.rename(columns = {"Provider Name" : "Facility"})
df_shortage_nursing_bins['Number of Nursing Shortage weeks'] = pd.cut(x=df_shortage_nursing_bins['Number of Nursing Shortage weeks'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_shortage_nursing_bins

                                     Facility Number of Nursing Shortage weeks
0                                15 CRAIGSIDE                           0 - 10
1                                  24TH PLACE                              >20
2                                     60 WEST                           0 - 10
3               A.G. RHODES HOME WESLEY WOODS                           0 - 10
4                A.G. RHODES HOME, INC - COBB                              >20
...                                       ...                              ...
10725                ZEARING HEALTH CARE, LLC                           0 - 10
10726  ZEBULON PARK HEALTH AND REHABILITATION                              >20
10727           ZEBULON REHABILITATION CENTER                          11 - 20
10728           ZERBE SISTERS NURSING CENTER,                           0 - 10
10729                    ZUMBROTA CARE CENTER                          11 - 20

[10730 rows x 2 columns]

In [ ]:
df_shortage_nursing_bins_county = df_shortage_nursing.groupby(['County'])['Week Ending'].count().reset_index(name='Number of Nursing Shortage weeks')
df_shortage_nursing_bins_county['Number of Nursing Shortage weeks'] = pd.cut(x=df_shortage_nursing_bins_county['Number of Nursing Shortage weeks'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_shortage_nursing_bins_county

        County Number of Nursing Shortage weeks
0       Acadia                              >20
1     Accomack                           0 - 10
2          Ada                              >20
3        Adair                              >20
4        Adams                              >20
...        ...                              ...
1586      York                              >20
1587     Young                          11 - 20
1588      Yuba                           0 - 10
1589      Yuma                              >20
1590    Zapata                           0 - 10

[1591 rows x 2 columns]

In [ ]:
df_shortage_clinical_b = df_covid['Shortage of Clinical Staff'] == 'Y'
df_shortage_clinical = df_covid[df_shortage_clinical_b]
df_shortage_clinical_bins = df_shortage_clinical.groupby(['Provider Name'])['Week Ending'].count().reset_index(name='Number of weeks of Clinical Staff Shortage')
df_shortage_clinical_bins = df_shortage_clinical_bins.rename(columns = {"Provider Name" : "Facility"})
df_shortage_clinical_bins['Number of weeks of Clinical Staff Shortage'] = pd.cut(x=df_shortage_clinical_bins['Number of weeks of Clinical Staff Shortage'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_shortage_clinical_bins

,Facility,Number of weeks of Clinical Staff Shortage
0,24TH PLACE,0 - 10
1,A.G. RHODES HOME WESLEY WOODS,0 - 10
2,"A.G. RHODES HOME, INC, THE",0 - 10
3,AARON MANOR NURSING & REHABILITATION,0 - 10
4,AASE HAUGEN HOME,0 - 10
...,...,...
7347,YUKON KUSKOKWIM ELDER'S HOME,0 - 10
7348,ZARROW POINTE,0 - 10
7349,"ZEARING HEALTH CARE, LLC",0 - 10
7350,"ZERBE SISTERS NURSING CENTER,",0 - 10
7351,ZUMBROTA CARE CENTER,0 - 10

In [ ]:
df_shortage_clinical_bins_county = df_shortage_clinical.groupby(['County'])['Week Ending'].count().reset_index(name='Number of weeks of Clinical Staff Shortage')
df_shortage_clinical_bins_county['Number of weeks of Clinical Staff Shortage'] = pd.cut(x=df_shortage_clinical_bins_county['Number of weeks of Clinical Staff Shortage'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_shortage_clinical_bins_county

         County Number of weeks of Clinical Staff Shortage
0     Abbeville                                     0 - 10
1        Acadia                                     0 - 10
2      Accomack                                     0 - 10
3           Ada                                        >20
4         Adair                                     0 - 10
...         ...                                        ...
1375       Yolo                                     0 - 10
1376       York                                        >20
1377      Young                                     0 - 10
1378       Yuma                                     0 - 10
1379     Zapata                                     0 - 10

[1380 rows x 2 columns]

In [ ]:
df_shortage_aides_b = df_covid['Shortage of Aides'] == 'Y'
df_shortage_aides = df_covid[df_shortage_aides_b]
df_shortage_aides_bins = df_shortage_aides.groupby(['Provider Name'])['Week Ending'].count().reset_index(name='Number of weeks of Aides Shortage')
df_shortage_aides_bins = df_shortage_aides_bins.rename(columns = {"Provider Name" : "Facility"})
df_shortage_aides_bins['Number of weeks of Aides Shortage'] = pd.cut(x=df_shortage_aides_bins['Number of weeks of Aides Shortage'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_shortage_aides_bins

,Facility,Number of weeks of Aides Shortage
0,15 CRAIGSIDE,0 - 10
1,24TH PLACE,>20
2,60 WEST,0 - 10
3,A.G. RHODES HOME WESLEY WOODS,0 - 10
4,"A.G. RHODES HOME, INC - COBB",>20
...,...,...
11049,"ZEARING HEALTH CARE, LLC",0 - 10
11050,ZEBULON PARK HEALTH AND REHABILITATION,>20
11051,ZEBULON REHABILITATION CENTER,0 - 10
11052,"ZERBE SISTERS NURSING CENTER,",0 - 10
11053,ZUMBROTA CARE CENTER,11 - 20

In [ ]:
df_shortage_aides_bins_county = df_shortage_aides.groupby(['County'])['Week Ending'].count().reset_index(name='Number of weeks of Aides Shortage')
df_shortage_aides_bins_county['Number of weeks of Aides Shortage'] = pd.cut(x=df_shortage_aides_bins_county['Number of weeks of Aides Shortage'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_shortage_aides_bins_county

        County Number of weeks of Aides Shortage
0       Acadia                               >20
1     Accomack                            0 - 10
2          Ada                               >20
3        Adair                               >20
4        Adams                               >20
...        ...                               ...
1598      York                               >20
1599     Young                           11 - 20
1600      Yuba                            0 - 10
1601      Yuma                               >20
1602    Zapata                            0 - 10

[1603 rows x 2 columns]

In [ ]:
df_shortage_other_b = df_covid['Shortage of Other Staff'] == 'Y'
df_shortage_other = df_covid[df_shortage_nursing_b]
df_shortage_other_bins = df_shortage_other.groupby(['Provider Name'])['Week Ending'].count().reset_index(name='Number of weeks of shortage of Other Staff')
df_shortage_other_bins = df_shortage_other_bins.rename(columns = {"Provider Name" : "Facility"})
df_shortage_other_bins['Number of weeks of shortage of Other Staff'] = pd.cut(x=df_shortage_other_bins['Number of weeks of shortage of Other Staff'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_shortage_other_bins

,Facility,Number of weeks of shortage of Other Staff
0,15 CRAIGSIDE,0 - 10
1,24TH PLACE,>20
2,60 WEST,0 - 10
3,A.G. RHODES HOME WESLEY WOODS,0 - 10
4,"A.G. RHODES HOME, INC - COBB",>20
...,...,...
10725,"ZEARING HEALTH CARE, LLC",0 - 10
10726,ZEBULON PARK HEALTH AND REHABILITATION,>20
10727,ZEBULON REHABILITATION CENTER,11 - 20
10728,"ZERBE SISTERS NURSING CENTER,",0 - 10
10729,ZUMBROTA CARE CENTER,11 - 20

In [ ]:
df_shortage_other_bins_county = df_shortage_other.groupby(['County'])['Week Ending'].count().reset_index(name='Number of weeks of shortage of Other Staff')
df_shortage_other_bins_county['Number of weeks of shortage of Other Staff'] = pd.cut(x=df_shortage_other_bins_county['Number of weeks of shortage of Other Staff'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_shortage_other_bins_county

        County Number of weeks of shortage of Other Staff
0       Acadia                                        >20
1     Accomack                                     0 - 10
2          Ada                                        >20
3        Adair                                        >20
4        Adams                                        >20
...        ...                                        ...
1586      York                                        >20
1587     Young                                    11 - 20
1588      Yuba                                     0 - 10
1589      Yuma                                        >20
1590    Zapata                                     0 - 10

[1591 rows x 2 columns]

--- Conduct a facility and county level analysis for eye protection, gowns, gloves,
N95 masks that will not be available in 7 days. Define the following metric for this
analysis: number of times the shortage was experienced. The metric should
be categorized into 3 categories, 0-10, 11-20 and >20 instances. ---

In [ ]:
df_gloves_t = df_covid['Gloves No Longer Available in 7 Days'] == 'Y'
df_gloves = df_covid[df_gloves_t]
df_gloves_bins = df_gloves.groupby(['Provider Name'])['Week Ending'].count().reset_index(name='Number of Instances of Shortage of Gloves')
df_gloves_bins = df_gloves_bins.rename(columns = {"Provider Name" : "Facility"})
df_gloves_bins['Number of Instances of Shortage of Gloves'] = pd.cut(x=df_gloves_bins['Number of Instances of Shortage of Gloves'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_gloves_bins

,Facility,Number of Instances of Shortage of Gloves
0,"A.G. RHODES HOME, INC - COBB",0 - 10
1,ABBOTSFORD HEALTH CARE CENTER,0 - 10
2,ABBYSHIRE PLACE SKILLED NSG & REHAB CTR,0 - 10
3,ABERCORN REHABILITATION CENTER,0 - 10
4,ABERDEEN HEIGHTS,0 - 10
...,...,...
1089,WOODLANDS SKILLED NURSING AND THERAPY,0 - 10
1090,WOODLAWN CARE CENTER,0 - 10
1091,WOODSTOCK NURSING & REHAB CTR,0 - 10
1092,WYOMING RETIREMENT CENTER,0 - 10
1093,YUCCA VALLEY NURSING,0 - 10

In [ ]:
df_gloves_bins_county = df_gloves.groupby(['County'])['Week Ending'].count().reset_index(name='Number of Instances of Shortage of Gloves')
df_gloves_bins_county['Number of Instances of Shortage of Gloves'] = pd.cut(x=df_gloves_bins_county['Number of Instances of Shortage of Gloves'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_gloves_bins_county

      County Number of Instances of Shortage of Gloves
0     Acadia                                    0 - 10
1        Ada                                   11 - 20
2      Adams                                   11 - 20
3      Aiken                                    0 - 10
4    Alameda                                       >20
..       ...                                       ...
527   Yakima                                    0 - 10
528  Yavapai                                    0 - 10
529     Yolo                                       >20
530     York                                    0 - 10
531     Yuma                                    0 - 10

[532 rows x 2 columns]

In [ ]:
df_gowns_t = df_covid['Gowns No Longer Available in 7 Days'] == 'Y'
df_gowns = df_covid[df_gowns_t]
df_gowns_bins = df_gowns.groupby(['Provider Name'])['Week Ending'].count().reset_index(name='Number of Instances of Shortage of Gowns')
df_gowns_bins = df_gowns_bins.rename(columns = {"Provider Name" : "Facility"})
df_gowns_bins['Number of Instances of Shortage of Gowns'] = pd.cut(x=df_gowns_bins['Number of Instances of Shortage of Gowns'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_gowns_bins

,Facility,Number of Instances of Shortage of Gowns
0,"A.G. RHODES HOME, INC - COBB",0 - 10
1,ABBOTSFORD HEALTH CARE CENTER,0 - 10
2,ABBY GARDENS HEALTHCARE CENTER,0 - 10
3,ABBYSHIRE PLACE SKILLED NSG & REHAB CTR,0 - 10
4,ABERCORN REHABILITATION CENTER,0 - 10
...,...,...
1104,WOODSTOCK NURSING & REHAB CTR,0 - 10
1105,WOODWARD HILLS HEALTH AND REHABILITATION CTR,0 - 10
1106,WYOMING RETIREMENT CENTER,0 - 10
1107,YORK GENERAL HEARTHSTONE,0 - 10
1108,YUCCA VALLEY NURSING,0 - 10

In [ ]:
df_gowns_bins_county = df_gowns.groupby(['County'])['Week Ending'].count().reset_index(name='Number of Instances of Shortage of Gowns')
df_gowns_bins_county['Number of Instances of Shortage of Gowns'] = pd.cut(x=df_gowns_bins_county['Number of Instances of Shortage of Gowns'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_gowns_bins_county

         County Number of Instances of Shortage of Gowns
0        Acadia                                   0 - 10
1           Ada                                  11 - 20
2         Adams                                  11 - 20
3       Alameda                                      >20
4    Albermarle                                   0 - 10
..          ...                                      ...
514       Wythe                                   0 - 10
515     Yavapai                                   0 - 10
516        Yolo                                      >20
517        York                                   0 - 10
518        Yuma                                   0 - 10

[519 rows x 2 columns]

In [ ]:
df_N95_t = df_covid['N95 Respirator No Longer Available in 7 Days'] == 'Y'
df_N95 = df_covid[df_N95_t]
df_N95_bins = df_N95.groupby(['Provider Name'])['Week Ending'].count().reset_index(name='Number of Instances of Shortage of N95')
df_N95_bins = df_N95_bins.rename(columns = {"Provider Name" : "Facility"})
df_N95_bins['Number of Instances of Shortage of N95'] = pd.cut(x=df_N95_bins['Number of Instances of Shortage of N95'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_N95_bins

,Facility,Number of Instances of Shortage of N95
0,15 CRAIGSIDE,0 - 10
1,"A.G. RHODES HOME, INC - COBB",0 - 10
2,ABBOTSFORD HEALTH CARE CENTER,0 - 10
3,ABBYSHIRE PLACE SKILLED NSG & REHAB CTR,0 - 10
4,ABERCORN REHABILITATION CENTER,0 - 10
...,...,...
1305,WOODSTOCK NURSING & REHAB CTR,0 - 10
1306,WOODWARD HILLS HEALTH AND REHABILITATION CTR,0 - 10
1307,WYOMING RETIREMENT CENTER,0 - 10
1308,YORK GENERAL HEARTHSTONE,0 - 10
1309,YUCCA VALLEY NURSING,0 - 10

In [ ]:
df_N95_bins_county = df_N95.groupby(['County'])['Week Ending'].count().reset_index(name='Number of Instances of Shortage of N95')
df_N95_bins_county['Number of Instances of Shortage of N95'] = pd.cut(x=df_N95_bins_county['Number of Instances of Shortage of N95'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_N95_bins_county

       County Number of Instances of Shortage of N95
0      Acadia                                 0 - 10
1         Ada                                11 - 20
2       Adams                                11 - 20
3       Aiken                                 0 - 10
4    Alamance                                 0 - 10
..        ...                                    ...
589   Yavapai                                 0 - 10
590     Yazoo                                 0 - 10
591      Yolo                                    >20
592      York                                 0 - 10
593      Yuma                                 0 - 10

[594 rows x 2 columns]

In [ ]:
df_eye_t = df_covid['Eye Protection No Longer Available in 7 Days'] == 'Y'
df_eye = df_covid[df_eye_t]
df_eye_bins = df_eye.groupby(['Provider Name'])['Week Ending'].count().reset_index(name='Number of Instances of Shortage of Eye Protection')
df_eye_bins = df_eye_bins.rename(columns = {"Provider Name" : "Facility"})
df_eye_bins['Number of Instances of Shortage of Eye Protection'] = pd.cut(x=df_eye_bins['Number of Instances of Shortage of Eye Protection'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_eye_bins

,Facility,Number of Instances of Shortage of Eye Protection
0,"A.G. RHODES HOME, INC - COBB",0 - 10
1,ABBOTSFORD HEALTH CARE CENTER,0 - 10
2,ABBY GARDENS HEALTHCARE CENTER,0 - 10
3,ABBYSHIRE PLACE SKILLED NSG & REHAB CTR,0 - 10
4,ABERCORN REHABILITATION CENTER,0 - 10
...,...,...
1166,WOODLAWN CARE CENTER,0 - 10
1167,WOODSTOCK NURSING & REHAB CTR,0 - 10
1168,WYOMING RETIREMENT CENTER,0 - 10
1169,YORKTOWN NURSING AND REHABILITATION CENTER,0 - 10
1170,YUCCA VALLEY NURSING,0 - 10

In [ ]:
df_eye_bins_county = df_eye.groupby(['County'])['Week Ending'].count().reset_index(name='Number of Instances of Shortage of Eye Protection')
df_eye_bins_county['Number of Instances of Shortage of Eye Protection'] = pd.cut(x=df_eye_bins_county['Number of Instances of Shortage of Eye Protection'], bins=[0,10,20,float("inf")], labels=['0 - 10', '11 - 20', '>20'])
df_eye_bins_county

       County Number of Instances of Shortage of Eye Protection
0      Acadia                                            0 - 10
1         Ada                                           11 - 20
2       Adams                                           11 - 20
3       Aiken                                            0 - 10
4    Alamance                                            0 - 10
..        ...                                               ...
528     Wythe                                            0 - 10
529   Yavapai                                            0 - 10
530      Yolo                                               >20
531      York                                            0 - 10
532      Yuma                                            0 - 10

[533 rows x 2 columns]

In [ ]:
df_covid_occupancy = df_covid[(df_covid['Number of All Beds'] != 'NaN')]
df_covid_occupancy_f = df_covid_occupancy[(df_covid_occupancy['Total Number of Occupied Beds'] != 'NaN')]
df_covid_occupancy_f['Percentage Occupancy'] = df_covid_occupancy_f['Total Number of Occupied Beds'] * 100 /df_covid_occupancy_f['Number of All Beds']
df_covid_occupancy_middlesex = df_covid_occupancy_f[(df_covid_occupancy_f['Provider State'] == 'MA') & (df_covid_occupancy_f['County'] == 'Middlesex')]
df_covid_occupancy_middlesex[['Provider Name','Week Ending','Percentage Occupancy']]

                     Provider Name Week Ending  Percentage Occupancy
507385   PINE KNOLL NURSING CENTER    05/24/20             66.666667
507386   PINE KNOLL NURSING CENTER    05/31/20             72.839506
507387   PINE KNOLL NURSING CENTER    06/07/20             74.074074
507388   PINE KNOLL NURSING CENTER    06/14/20             74.074074
507389   PINE KNOLL NURSING CENTER    06/21/20             75.308642
...                            ...         ...                   ...
539106  NEW ENGLAND PEDIATRIC CARE    12/19/21             93.750000
539107  NEW ENGLAND PEDIATRIC CARE    12/26/21             91.250000
539108  NEW ENGLAND PEDIATRIC CARE    01/02/22             93.750000
539109  NEW ENGLAND PEDIATRIC CARE    01/09/22             90.000000
539110  NEW ENGLAND PEDIATRIC CARE    01/16/22             88.750000

[6780 rows x 3 columns]

In [ ]:
# 100% or more occupancy --- More than 100% shows that the nursing home facility was overtaxed and special provisions were made for COVID-19
df_covid_occupancy_middlesex_morethan100 = df_covid_occupancy_middlesex[(df_covid_occupancy_middlesex['Percentage Occupancy'] >= 100)]
df_covid_occupancy_middlesex_morethan100['Provider Name'].unique()

array(['CARE ONE AT NEWTON',
       'CARLETON-WILLARD VILLAGE RETIREMENT & NURSING CTR',
       'CARE ONE AT LEXINGTON', 'BROOKHAVEN AT LEXINGTON',
       'VERO HEALTH & REHAB OF WATERTOWN',
       'VNA SENIOR LIVING - HIGHLAND AVENUE CAMPUS', 'CARLYLE HOUSE',
       'SANCTA MARIA NURSING FACILITY', 'CARE ONE AT CONCORD',
       'STONE REHABILITATION AND SENIOR LIVING'], dtype=object)

In [ ]:
# 100% or More Occupancy for 3 Weeks or more ----
df_covid_occupancy_middlesex_morethan100_3weeks = df_covid_occupancy_middlesex_morethan100[df_covid_occupancy_middlesex_morethan100['Provider Name'].map(df_covid_occupancy_middlesex_morethan100['Provider Name'].value_counts()) >= 3]
df_covid_occupancy_middlesex_morethan100_3weeks['Provider Name'].value_counts()

STONE REHABILITATION AND SENIOR LIVING    59
CARE ONE AT NEWTON                        21
VERO HEALTH & REHAB OF WATERTOWN           5
CARE ONE AT LEXINGTON                      4
Name: Provider Name, dtype: int64

In [ ]:
# For Division based analysis
df_division = pd.read_csv('/content/drive/MyDrive/Covid_Data/Divisions.csv')
df_division

                   State Abbrevation                         Division
0            Connecticut          CT         Division 1 - New England
1                  Maine          ME         Division 1 - New England
2          Massachusetts          MA         Division 1 - New England
3          New Hampshire          NH         Division 1 - New England
4           Rhode Island          RI         Division 1 - New England
5                Vermont          VT         Division 1 - New England
6             New Jersey          NJ     Division 2 - Middle Atlantic
7               New York          NY     Division 2 - Middle Atlantic
8           Pennsylvania          PA     Division 2 - Middle Atlantic
9                Indiana          IN   Division 3- East North Central
10              Illinois          IL   Division 3- East North Central
11              Michigan          MI   Division 3- East North Central
12                  Ohio          OH   Division 3- East North Central
13             Wisconsin          WI   Division 3- East North Central
14                  Iowa          IA  Division 4 - West North Central
15                Kansas          KS  Division 4 - West North Central
16             Minnesota          MN  Division 4 - West North Central
17              Missouri          MO  Division 4 - West North Central
18              Nebraska          NE  Division 4 - West North Central
19          North Dakota          ND  Division 4 - West North Central
20          South Dakota          SD  Division 4 - West North Central
21              Delaware          DE      Division 5 - South Atlantic
22  District of Columbia          DC      Division 5 - South Atlantic
23               Florida          FL      Division 5 - South Atlantic
24               Georgia          GA      Division 5 - South Atlantic
25              Maryland          MD      Division 5 - South Atlantic
26        North Carolina          NC      Division 5 - South Atlantic
27        South Carolina          SC      Division 5 - South Atlantic
28              Virginia          VA      Division 5 - South Atlantic
29         West Virginia          WV      Division 5 - South Atlantic
30               Alabama          AL  Division 6 - East South Central
31              Kentucky          KY  Division 6 - East South Central
32           Mississippi          MS  Division 6 - East South Central
33             Tennessee          TN  Division 6 - East South Central
34              Arkansas          AR  Division 7 - West South Central
35             Louisiana          LA  Division 7 - West South Central
36              Oklahoma          OK  Division 7 - West South Central
37                 Texas          TX  Division 7 - West South Central
38               Arizona          AZ            Division 8 - Mountain
39               Montana          MT            Division 8 - Mountain
40              Colorado          CO            Division 8 - Mountain
41                  Utah          UT            Division 8 - Mountain
42                 Idaho          ID            Division 8 - Mountain
43                Nevada          NV            Division 8 - Mountain
44            New Mexico          NM            Division 8 - Mountain
45               Wyoming          WY            Division 8 - Mountain
46                Alaska          AK             Division 9 - Pacific
47            California          CA             Division 9 - Pacific
48                Hawaii          HI             Division 9 - Pacific
49                Oregon          OR             Division 9 - Pacific
50            Washington          WA             Division 9 - Pacific

In [ ]:
# Distribution of the number of nursing home by Division
#facilities by division.
df_division = df_division.rename(columns = {'Abbrevation' : 'Provider State'})
df_division_analysis = pd.merge(df_covid,df_division, on = 'Provider State', how = 'inner')
df_division_analysis.groupby(['Division'])['Federal Provider Number'].nunique()

Division
Division 1 - New England            873
Division 2 - Middle Atlantic       1677
Division 3- East North Central     3021
Division 4 - West North Central    2055
Division 5 - South Atlantic        2404
Division 6 - East South Central    1046
Division 7 - West South Central    2040
Division 8 - Mountain               807
Division 9 - Pacific               1602
Name: Federal Provider Number, dtype: int64